html,
body {
    min-height: 100vh;
    height: 100%;
    width: 100%;
    font-family: "Montserrat", sans-serif;
    background-color: #f9f9f9;
    margin: 0 !important;
    padding: 0 !important;
}

[type="submit"] {
    border: 0;
}

html {
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0px; /* remove scrollbar space */
    background: transparent; /* optional: just make scrollbar invisible */
}
/* optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #ff0000;
}

section {
    padding-right: 0 !important;
    margin-right: 0 !important;
}

@media (max-width: 575px) {
    .div_categ_name {
        height: 60px;
    }

    .div_categ_type {
        width: 60px;
        height: 60px;
    }

    .my_modal_label {
        float: left !important;
    }

    #section_navbar {
        background: #777581 !important ;
    }

    #section_navbar .container {
        padding: 0;
    }

    #reglink,
    #enterlink {
        text-align: center;
    }

    #step2div {
        margin-top: 40px;
    }

    .step_row {
        height: 130px !important;
    }

    .circle {
        margin-top: 16px;
        margin-left: 0px;
    }

    .footer_text {
        text-align: center;
    }

    .nav_on_md {
        width: 100% !important;
    }

    #section_navbar_cafe_page {
        background: #f0f0f0;
    }

    .text_left,
    .text_middle {
        width: 48% !important;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    .div_categ_name {
        height: 60px;
    }

    .div_categ_type {
        width: 60px;
        height: 60px;
    }

    .my_modal_label {
        float: left !important;
    }

    .modal-lg {
        max-width: 95% !important;
    }

    #section_navbar {
        background: #777581 !important;
    }

    #section_navbar .container {
        padding: 0;
    }

    #reglink,
    #enterlink {
        text-align: center;
    }

    #step2div {
        margin-top: 40px;
    }

    .step_row {
        height: 130px !important;
    }

    .circle {
        margin-top: 16px;
        margin-left: 0px;
    }

    .footer_text {
        text-align: center;
    }

    .nav_on_md {
        width: 100% !important;
    }

    #section_navbar_cafe_page {
        background: #f0f0f0;
    }

    .text_left,
    .text_middle {
        width: 48% !important;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .div_categ_name {
        height: 60px;
    }

    .cafe_hero p {
        line-height: 60px;
    }

    .div_categ_type {
        width: 60px;
        height: 60px;
    }

    .my_modal_label {
        float: left !important;
    }

    .modal-lg {
        max-width: 90% !important;
    }

    #section_navbar {
        background: #777581 !important;
    }

    #section_navbar .container {
        padding: 0;
    }

    #reglink,
    #enterlink {
        text-align: center;
    }

    #step2div {
        margin-top: 40px;
    }

    .step_row {
        height: 130px !important;
    }

    .circle {
        margin-top: 16px;
        margin-left: 0px;
    }

    .footer_text {
        text-align: center;
    }

    .nav_on_md {
        width: 100% !important;
    }

    #section_navbar_cafe_page {
        background: #f0f0f0;
    }

    .text_left,
    .text_middle {
        width: 48% !important;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .div_categ_name {
        height: 72px;
    }

    .div_categ_type {
        width: 72px;
        height: 72px;
    }

    .my_modal_label {
        line-height: 38px;
    }

    #modal_reg_subtitle {
        padding-left: 60px;
        padding-right: 60px;
    }

    .modal-lg {
        max-width: 90% !important;
    }

    .circle {
        margin-top: 16px;
        margin-left: 16px;
    }

    .footer_text {
        text-align: left;
    }

    .text_left,
    .text_middle {
        width: 48% !important;
    }

    /*#cafe_dropdown*/
    /*{*/
    /*left: -32px !important;*/
    /*}*/
}

@media (min-width: 1200px) {
    .div_categ_name {
        height: 82px;
    }

    .div_categ_type {
        width: 82px;
        height: 82px;
    }

    #modal_reg_subtitle {
        padding-left: 100px;
        padding-right: 100px;
    }
    .my_modal_label {
        line-height: 38px;
    }

    .modal-lg {
        max-width: 1000px !important;
    }

    .circle {
        margin-top: 16px;
        margin-left: 16px;
    }

    .footer_text {
        text-align: left;
    }

    /*#cafe_dropdown*/
    /*{*/
    /*left: -32px !important;*/
    /*}*/
}

a:hover {
    color: inherit;
    text-decoration: none;
}
/* font-family: 'Roboto', sans-serif; */
#section_navbar .navbar .nav-link {
    color: white;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
}

#section_navbar .navbar-brand {
    color: white;
}

#section_navbar .navbar {
    padding-left: 0;
    padding-right: 0;
    border-bottom: 1px solid white;
    background: transparent;
    z-index: 100;
}

.index .fa-bars {
    color: white;
}

.cafe_page .fa-bars {
    color: #5a5a5a;
}

.centerlinks li {
    margin-left: 20px;
    margin-right: 20px;
}
.regli {
    margin-left: 12px;
    margin-right: 12px;
}

.vertical-center {
    display: flex;
    align-items: center;
}

.hero_section {
    margin-top: -60px;
    background-image: url("../images/herobg.jpg");
    width: 100%;
    height: 100vh;
    min-height: 600px;
    background-position: 50% 50%;
    background-size: cover;
}

#enterlink {
    padding-left: 20px;
    padding-right: 20px;
    margin-right: 0px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 2px;
}

.hero_container {
    display: table;
}

.hero_row {
    display: table-cell;
    vertical-align: middle;
}

.hero_title {
    color: white;
    font-size: 44px;
    font-weight: 700;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    /* text-shadow: 0px 2px 4px #000000; */
}

#dark_banner {
    word-spacing: 0.5em;

    margin-top: 10px;
    font-weight: 300;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    padding: 5px 28px;
    display: inline-block;
    color: white;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 9999px;
}

.myp {
    margin-top: 8px;
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    color: white;
    font-size: 12px;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.mybtn {
    font-size: 14px;
    margin: 12px 0;
    display: inline-block;
    font-weight: 500;
    padding: 10px 44px;
    color: white;
    background: linear-gradient(to right, #f51c1c, #fe8605);
    border-radius: 3px;
    box-shadow: -2px 2px 12px rgba(0, 0, 0, 0.2);
}

.mybtn:hover {
    color: white;
    filter: brightness(85%);
    cursor: pointer;
}

.partners_row {
    opacity: 0.5;
    height: 25%;
    height: 100px;
}

.partner_div {
    display: inline-block;
    width: 23.5%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 90% 90%;
}

#partner1 {
    background-image: url("../images/fakelogo2.png");
}
#partner2 {
    background-image: url("../images/fakelogo1.png");
}
#partner3 {
    background-image: url("../images/fakelogo3.png");
}
#partner4 {
    background-image: url("../images/fakelogo4.png");
}

.title_subhero {
    margin-top: 60px !important;
    margin-bottom: 60px;
    font-size: 26px;
    font-weight: 400;
    text-align: center;
    color: #383838;
    margin-top: 32px;
}

.subhero_img {
    float: left;
    height: 100px;
    width: 25%;
}

.subhero_feature_div {
    margin-left: 5%;
    float: left;
    width: 70%;
    height: 100px;
}

.feature_title {
    margin-top: 8px;
    margin-bottom: 4px;
    display: inline-block;
    color: #383838;
    font-size: 18px;
    font-weight: 400;
}

.feature_text {
    font-weight: 300;
    font-family: "Roboto", sans-serif;
    color: #8a8a8a;
    display: inline-block;
    font-size: 12px;
}

.about_text {
    font-weight: 300;
    font-family: "Roboto", sans-serif;
    color: #8a8a8a;
    font-size: 12px;
}

.circle_div {
    width: 10%;
    height: 100px;
}

.circle {
    color: white;
    line-height: 50px;
    text-align: center;
    border-radius: 25px;
    width: 50px;
    height: 50px;
}

#circle1 {
    background: #2ab398;
}

#circle2 {
    background: #299cda;
}

#circle3 {
    background: linear-gradient(to right, #f51c1c, #fe8605);
}

.step_title {
    float: left;
    width: 80%;
    color: #383838;
    font-size: 18px;
    font-weight: 400;
}

.step_text {
    width: 80%;
    font-weight: 300;
    font-family: "Roboto", sans-serif;
    color: #8a8a8a;
    font-size: 11px;
}

.step_div {
    float: left;
    width: 70%;
    height: 100px;
}

.circle_div {
    float: left;
    height: 100px;
    width: 17%;
}

.step_row {
    padding: 0;
}

#line {
    background-size: contain;
    position: absolute;
    background-image: url("../images/line.png");
    width: 100px;
    height: 300px;
}

#section_footer {
    margin-top: 40px;
    background-image: url("../images/footerbg.png");
    min-height: 300px;
    background-position: 50% 50%;
    background-size: cover;
}

.title_footer {
    font-weight: 300;
    margin-top: 32px !important;
    margin-bottom: 32px;
    font-size: 26px;
    text-align: center;
    color: white;
}

.footer_text {
    margin-top: 20px;
    color: white;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 200;
}

.footer_phone {
    color: white;
    font-weight: 700;
    font-size: 22px;
    margin-bottom: 4px;
}

.footer_email {
    margin-bottom: 4px;
    color: white;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 200;
}

.socialicon {
    filter: brightness(75%);
    margin-right: 8px;
}

.socialicon:hover {
    filter: brightness(100%);
    cursor: pointer;
    margin-right: 8px;
}

.socicons {
    margin-top: 20px;
}

.bottom_footer {
    font-size: 11px;
    opacity: 0.5;
    margin-top: 70px;
    color: white;
    text-align: center;
}

/*REGIOn MODLASSSSS*/

#modal_reg,
#modal_login {
    padding-top: 140px;
}

.my_modal_close {
    cursor: pointer;
    color: #383838;
    position: absolute;
    right: 20px;
    top: 20px;
}

#modal_reg_title,
#modal_login_title,
.modal_title {
    margin-top: 32px;
    color: #383838;
}

#modal_reg_subtitle,
#modal_login_subtitle,
.modal_subtitle {
    background-color: #ffffff;
    color: #b9b9b9;
    font-size: 12px;
}

.my_modal_label {
    color: #383838;
    font-size: 14px;
    font-weight: 500;
}

.modal-body {
    background-color: #f9f9f9;
}

.my_input {
    font-size: 12px;
}

#modal_reg small,
#modal_login small,
small {
    font-weight: 300;
    color: #8a8a8a;
    text-align: left;
    font-size: 10px;
    margin-top: 1px !important;
}

.input_error {
    height: 38px;
    display: table-cell;
    vertical-align: middle;
    font-size: 10px;
    color: rgba(245, 28, 28, 80);
}

.error_icon {
    margin-right: 14px;
    height: 38px;
    line-height: 38px;
    float: left;
    color: rgba(245, 28, 28, 80);
}

.input_row {
    margin-top: 36px;
}

.time_input {
    width: calc(50% - 12px);
    box-sizing: border-box;

    /*display: inline-block;*/
    float: left;
}

#time1,
#time3 {
    margin-right: 12px;
}

#time2,
#time4 {
    margin-left: 12px;
}

.time_input_div {
    width: 44%;
}

#middle_p {
    vertical-align: top;
    margin: 0;
    padding: 0;
    text-align: center;
    display: inline-block;
    width: 8%;
    line-height: 38px;
}

#reg_cafe_logo,
#img_product,
#img_product_desert,
#img_product_edit {
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
    opacity: 0;
    width: 102px;
    height: 102px;
}

#file_input_div,
#file_input_div_desert,
#file_input_div_edit {
    display: table;
    position: relative;
    height: 102px;
    width: 102px;
}

#icon_upload,
#icon_upload_desert,
#icon_upload_edit {
    display: table-cell;
    vertical-align: middle;
}

#upd,
#upd_desert,
#upd_edit {
    font-size: 22px;
    color: #d9d9d9;
}

#logo_logo,
#logo_logo_cafe,
#logo_logo_desert,
#logo_logo_edit {
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 3px;
    width: 100px;
    height: 100px;
    padding: 1px;
}

#logo_small,
#logo_small_desert {
    width: calc(100% - 112px);
    float: right;
}

#current_logo_name,
#current_logo_name_desert {
    font-size: 12px;
    text-align: left;
    color: #5a5a5a;
    margin-top: 20px;
    width: calc(100% - 112px);
    float: right;
}

.modal-footer {
    background-color: #ffffff;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"] + label {
    cursor: pointer;
    float: left;
    display: inline-block;
    padding: 0 0 0 0px;
    background: url("../images/chebnot.png") no-repeat;
    height: 28px;
    width: 28px;
    background-size: 100%;
}

input[type="checkbox"]:checked + label {
    float: left;
    background: url("../images/cheb.png") no-repeat;
    height: 28px;
    width: 28px;
    display: inline-block;
    background-size: 100%;
}

#cheb_text,
#cheb_text_login {
    color: #5a5a5a;
    text-align: center;
    font-size: 12px;
    line-height: 28px;
    margin-left: 10px;
}

.input_box_error {
    border: 1px solid rgba(245, 28, 28, 80);
}
/**/

#alert_col {
    position: fixed;
    top: 140px;
    left: 0;
    width: 100%;
}

#alert-fixed {
    position: fixed;
    top: 100px;
    left: 0px;
    width: 100%;
    z-index: 9999;
    border-radius: 0px;
}

.alert p {
    margin: 0;
}

#email_login_row {
    margin-top: 0px;
}

#cafe_dropdown a {
    color: #5a5a5a;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
}

#cafe_dropdown a i {
    color: #5a5a5a;
    margin-right: 10px;
}

#cafe_nav_logo {
    margin-right: 8px;
    border-radius: 999px;
    height: 28px;
    width: 28px;
    object-fit: cover;
}

#section_navbar_cafe_page .navbar .nav-link,
#forgot_pass_nav .nav-link {
    color: #5a5a5a;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
}

#section_navbar_cafe_page .navbar-brand,
#forgot_pass_nav .navbar-brand {
    color: #5a5a5a;
}

#section_navbar_cafe_page .navbar,
#forgot_pass_nav .container {
    padding-left: 0;
    padding-right: 0;
    border-bottom: 1px solid #5a5a5a;
    background: transparent;
    z-index: 100;
}

#cafe_hero,
#forgot_pass_hero {
    margin-top: -60px;
    background-image: url("../images/cafe_page_bg.png");
    width: 100%;
    background-position: 50% 50%;
    background-size: cover;
    padding-top: 82px;
    padding-bottom: 20px;
    min-height: 90vh;
}

#row_categ_links {
    margin: 0px;
    background-color: white;
    border-radius: 8px;
    box-shadow: -2px 2px 12px rgba(0, 0, 0, 0.2);
}

.div_categ_type {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    float: left;
}

.categ_link {
    cursor: pointer;
}

.icon-img {
    width: 22px;
}

.div_categ_name {
    font-size: 14px;
    font-weight: 600;
    color: #5a5a5a;
}

#row_cafe div p,
#col_cafe_info div p {
    white-space: nowrap;
}

#row_cafe div,
#col_cafe_info div {
    white-space: nowrap;
}

.w-100,
w-75,
.w-50,
w-25 {
    box-sizing: border-box;
}

#row_cafe {
    margin: 22px 0 0 0;
    background-color: white;
    border-radius: 8px;
    box-shadow: -2px 2px 12px rgba(0, 0, 0, 0.2);
}

#row_cafe p {
    color: #383838;
}

.p_left_text {
    font-weight: 400;
    font-size: 12px;
}

#img_cafe_logo {
    height: 120px;
    width: 120px;
    border-radius: 999px;
    object-fit: cover;
    box-shadow: -2px 2px 12px rgba(0, 0, 0, 0.2);
}

#img_cafe_rating {
    width: 100px;
}

#cafe_title {
    color: #383838;
    font-weight: 700;
}

#col_cafe_info .text_left {
    color: #b9b9b9;
    font-size: 12px;
    font-weight: 400;
}

.text_middle {
    color: #5a5a5a;
}

.square:before {
    content: "";
    display: block;
    padding-top: 100%;
}

#card_add,
#card_add_cold,
#card_add_desert {
    min-height: 260px;
    display: flex;

    border-radius: 8px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

#card_add:hover,
#card_add_cold:hover,
#card_add_desert:hover {
    filter: brightness(0.8);
}

#add_circle {
    background: linear-gradient(white, white) padding-box, linear-gradient(to top right, #f51c1c, #fe8605) border-box;
    border: 2px solid transparent;
    border-radius: 8px;
    height: 80px;
    width: 80px;
    border-radius: 50%;
}

#circle_plus {
    line-height: 80px;
    text-align: center;
    font-weight: 400;
    font-size: 52px;
}

.border-gradient {
    background: linear-gradient(white, white) padding-box, linear-gradient(to top right, #f51c1c, #fe8605) border-box;
    border: 2px solid transparent;
    border-radius: 8px;
}

.grad-text {
    color: #f94912;
    /* background-image: -webkit-linear-gradient(to top right, #f51c1c, #fe8605);
    background-image: -moz-linear-gradient(to top right, #f51c1c, #fe8605);
    background-image: -ms-linear-gradient(to top right, #f51c1c, #fe8605);
    background-image: -o-linear-gradient(to top right, #f51c1c, #fe8605);
    background-image: linear-gradient(to top right, #f51c1c, #fe8605);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text; */
}

.custom-select {
    background: none !important;
    background-color: white !important;
}

#par_arrow,
#par_arrow_edit {
    height: 38px;
    width: 38px;
    line-height: 38px;
    color: white;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    background-color: #b9b9b9;
    top: 0;
    right: 15px;
}

.my_option {
    color: #5a5a5a;
    font-weight: 600;
    font-size: 40px;
}

#input_categ_col {
    cursor: pointer;
}

.third {
    float: left;
    width: 30%;
    line-height: 38px;
    height: 38px;

    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    max-height: 38px;
}

.third-small {
    float: left;
    width: 30%;
    height: 16px;
    line-height: 16px;
}

.third-center {
    margin-right: 4%;
    margin-left: 4%;
}

.remove_circle {
    font-size: 24px;
    text-align: center;
    color: white;
    margin-top: 4px;
    width: 31px;
    height: 31px;
    line-height: 31px;
    border-radius: 50%;
    background-color: #d0021b;
    cursor: pointer;
}

.remove_circle:hover {
    filter: brightness(85%);
}

#div_for_weights,
#div_for_weights p,
#div_for_weights div {
    white-space: nowrap;
}

p.third {
    color: #8a8a8a;
    font-weight: 600;
    font-size: 14px;
}

.btn_add {
    float: left;
    width: 30%;
    background-color: #2ab398;
    height: 38px;
    font-size: 12px;
    font-weight: 500;
    color: white;
    border-radius: 4px;
    border-color: transparent;
    cursor: pointer;
}

.btn_add:hover {
    filter: brightness(85%);
}

.product_card {
    text-align: center;
    min-height: 260px;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: -2px 2px 12px rgba(0, 0, 0, 0.2);
    background-color: white;
}

.product_img {
    height: 92px;
    width: 92px;
    border-radius: 50%;
    object-fit: cover;
}

.product_name {
    font-size: 16px;
    color: #383838;
    font-weight: 600;
}

.product_desc {
    font-size: 10px;
    font-weight: 300;
    color: #b9b9b9;
    max-height: 55px;
}

.count_p {
    bottom: 0;
    left: 0;
    color: #8a8a8a;
    font-size: 12px;
    font-weight: 300;
}

.count_span {
    font-weight: 600;
    color: #f94912;
}

.price {
    bottom: 0;
    right: 0;
    color: #383838;
    font-size: 14px;
    font-weight: 600;
}

.cafe_page form {
    margin: 0;
    padding: 0;
}

.mycard:hover {
    filter: brightness(95%);
}

.cafe_page #section_footer {
    margin-top: 0;
}

/*#test1, #test2*/
/*{*/
/*clear: both;*/
/*}*/
/** {*/
/*background: #000 !important;*/
/*color: #0f0 !important;*/
/*outline: solid #f00 1px !important;*/
/*}*/
